<md-toolbar color="primary">
  <span>Sign Up</span>
</md-toolbar>
<table style="width: 100%" cellspacing="0">
  <tr>
    <md-input-container align="end">
      <input mdInput placeholder="Company name" ngModel="value">
    </md-input-container>
  </tr>
  <tr>
    <md-input-container align="end">
      <input mdInput placeholder="Your name">
    </md-input-container>
  </tr>
  <tr>
    <md-input-container>
      <input mdInput placeholder="Your email">
    </md-input-container>
  </tr>
</table>
<button md-raised-button (click)="dialogRef.close()">Close dialog</button>

