<!-- Menu Bar -->
<div class="ui large top fixed menu">
  <div class="ui container">
    <a routerLink="home" class="active item">Home</a>
    <a routerLink="availability" class="item">Availability</a>
    <a routerLink="details" class="item">My Details</a>
    <a routerLink="admin" class="item">Admin</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <app-sign-up>...</app-sign-up>
      </div>
    </div>
  </div>
</div>

<h1>
  {{title}}
</h1>

<router-outlet></router-outlet>





