<!-- Menu Bar -->
<div class="ui large top fixed menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Make a booking</a>
    <a class="item">Update details</a>
    <a class="item">My Account</a>
    <a class="item">Admin</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <app-sign-up>...</app-sign-up>
      </div>
    </div>
  </div>
</div>

<h1>
  {{title}}
</h1>

<app-availability>Loading...</app-availability>





