<!-- Menu Bar -->
<div class="ui large inverted top fixed menu">
    <div>Blah</div>
    <div class="ui container">
        <a routerLink="home" class="active item">Home</a>
        <a routerLink="availability" class="item">Availability</a>
        <a routerLink="details" class="item">My Details</a>
        <a routerLink="admin" class="item">Admin</a>
        <div class="right menu">
            <div class="item">
                <a class="ui blue button">Log in</a>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
    <router-outlet></router-outlet>
</div>




